<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IWCF_DocumentosVucem" />
                <binding name="BasicHttpBinding_IWCF_DocumentosVucem1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://web.aduax.com/WCF_DocumentosCEDIS_V2/WCF_DocumentosVucem.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWCF_DocumentosVucem"
                contract="WCF_Documentos.IWCF_DocumentosVucem" name="BasicHttpBinding_IWCF_DocumentosVucem" />
            <endpoint address="http://localhost:54226/WCF_DocumentosVucem.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWCF_DocumentosVucem1"
                contract="WCF_Respaldo.IWCF_DocumentosVucem" name="BasicHttpBinding_IWCF_DocumentosVucem1" />
        </client>
    </system.serviceModel>
</configuration>
